@charset "UTF-8";


body{
    background-color: rgb(188, 186, 186);
}
div.container{
    width: 800px;
    position: absolute;
    margin-left: 500px;

}
a{
    width: 100px;
}
img{
    position: relative;
    width: 300px;
    margin: 10px;
}
h1{
    text-align: center;
}
